# Pyhton Class

In [63]:
import numpy as np

In [69]:
np.arange(0,20,5)

array([ 0,  5, 10, 15])

In [70]:
np.linspace(0,20,5)

array([ 0.,  5., 10., 15., 20.])

In [81]:
np.random.randint(0,37)

9

In [ ]:
pip install pandas

In [82]:
import pandas as pd

In [85]:
pd.Series([1,2,3])
pd.Series([1,2,3], index=("index1", "index2","label3"))

index1    1
index2    2
label3    3
dtype: int64

In [92]:
array=np.arange(5)
pandas_series=pd.Series(array)
pd.Series(np.arange(5),name="Test Array",index=())

0    0
1    1
2    2
3    3
4    4
Name: Test Array, dtype: int64

In [93]:
Sales=[0,5,155,0,518,0,1827,616,317,325]
Sales_series=pd.Series(Sales, name="Sales")

In [95]:
Sales_series.index

RangeIndex(start=0, stop=10, step=1)

In [122]:
sales=[0,5,155,0,518,0,1287,616,317,325]
month=["jan","feb","march","april","may","june",'july',"august","september","october"]

In [123]:
sales_month=pd.Series(sales,index=month,name="Sales")

In [132]:
sales_month[sales_month.index.isin(["jan","september","march"])]

jan            0
march        155
september    317
Name: Sales, dtype: int64

In [131]:
sales_month[~sales_month.index.isin(["jan","september","march"])]

feb           5
april         0
may         518
june          0
july       1287
august      616
october     325
Name: Sales, dtype: int64

In [133]:
sales_month

jan             0
feb             5
march         155
april           0
may           518
june            0
july         1287
august        616
september     317
october       325
Name: Sales, dtype: int64

In [136]:
sales_month.sort_values()

jan             0
april           0
june            0
feb             5
march         155
september     317
october       325
may           518
august        616
july         1287
Name: Sales, dtype: int64

In [137]:
sales_month.sort_values(ascending=False)

july         1287
august        616
may           518
october       325
september     317
march         155
feb             5
jan             0
april           0
june            0
Name: Sales, dtype: int64

In [139]:
sales_month.sort_index()

april           0
august        616
feb             5
jan             0
july         1287
june            0
march         155
may           518
october       325
september     317
Name: Sales, dtype: int64

In [140]:
sales_month.sort_index(ascending=False)

september     317
october       325
may           518
march         155
june            0
july         1287
jan             0
feb             5
august        616
april           0
Name: Sales, dtype: int64

In [104]:
sales_month["march":"september"]

march         155
april           0
may           518
june            0
july         1287
august        616
september     317
Name: Sales, dtype: int64

In [106]:
sales_month[2:10]

march         155
april           0
may           518
june            0
july         1287
august        616
september     317
october       325
Name: Sales, dtype: int64

In [114]:
sales_month.loc["jan"]

0

In [115]:
sales_month.iloc[0]

0

In [108]:
sales_month.loc["jan":"september"]

jan             0
feb             5
march         155
april           0
may           518
june            0
july         1287
august        616
september     317
Name: Sales, dtype: int64

In [109]:
sales_month.loc["feb":"august"]

feb          5
march      155
april        0
may        518
june         0
july      1287
august     616
Name: Sales, dtype: int64

In [110]:
sales_month.reset_index().loc[0]

index    jan
Sales      0
Name: 0, dtype: object

In [120]:
sales_month.reset_index()

       index  Sales
0        jan      0
1        feb      5
2      march    155
3      april      0
4        may    518
5       june      0
6       july   1287
7     august    616
8  september    317
9    october    325

In [121]:
sales_month.reset_index(drop=True)

0       0
1       5
2     155
3       0
4     518
5       0
6    1287
7     616
8     317
9     325
Name: Sales, dtype: int64

In [145]:
sales_month*2

jan             0
feb            10
march         310
april           0
may          1036
june            0
july         2574
august       1232
september     634
october       650
Name: Sales, dtype: int64

In [144]:
sales_month+2

jan             2
feb             7
march         157
april           2
may           520
june            2
july         1289
august        618
september     319
october       327
Name: Sales, dtype: int64

In [143]:
"$"+ sales_month.astype("float").astype("string")

jan             $0.0
feb             $5.0
march         $155.0
april           $0.0
may           $518.0
june            $0.0
july         $1287.0
august        $616.0
september     $317.0
october       $325.0
Name: Sales, dtype: string

In [168]:
string_series=pd.Series(["Day!1","day!2","Day!3","DAY!4"])

In [169]:
string_series

0    Day!1
1    day!2
2    Day!3
3    DAY!4
dtype: object

In [171]:
string_series.str.split("!", expand=True)

     0  1
0  Day  1
1  day  2
2  Day  3
3  DAY  4

In [185]:
Sales=[0,5,155,np.nan,np.nan]
sales_series=pd.Series(Sales,name="sales")

In [184]:
sales_series.isna().sum() #gives you na values

1

In [186]:
sales_series.isna().sum()

2

In [211]:
clean_wholesale=pd.Series([3.99,5.99,22.99,7.99,33.99])

#